
body {
    text-align: center;
    background-color: lightgrey;
}

#main-heading {
    color: blueviolet; 
    font-family: monospace; 
    text-align: center;
    font-size: 48px;
}

#head2 {
    color:tomato; 
    font-family: 'Montserrat', sans-serif;

}

#p1 {
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    color:seagreen
}

#list {
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    color:seagreen
}

#img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
