
body {
    text-align: center;
    background-color: lightgrey;
}

#main-heading {
    color: blueviolet; 
    font-family: monospace; 
    text-align: center;
    font-size: 48px;
}

#head2 {
    color:tomato; 
    font-family: 'Montserrat', sans-serif;

}

#p1 {
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    color:seagreen
}

#list {
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    color:seagreen
}

#img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

li  {
    list-style: decimal;
    font-family: monospace;
    text-align: left;

}

ol  {
    list-style: none;
    font-family: monospace;
}
a {
    
}

h5 {
    background-color: darkseagreen;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;

}

a:hover {
    background-color: coral;
}

a {
    background-color: dodgerblue;
    border-radius: 5px;
}

a :focus {
    background-color: seagreen;
}

a:active{
    background-color: orchid;
}